<!DOCTYPE html>
<html>
<head>
<link rel = "stylesheet" href="/styles/basic.css">
<link rel = "stylesheet" href="/styles/dash.css">
<link rel = "stylesheet" href="/styles/buttons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Dashboard: <%= comname %></title>
</head>
<body>
  <div id="topnav">
  <input type='text' id="search" placeholder="Look up a community">
  <button  style="margin-left: 67%;"><i class="fa fa-search"></i></button>
</div>
<div class="menu" onmouseover="chop(0)" onmouseout="chop(1)">
    <div class="title">MENU</div>
    <ul class="nav">
      <li><a href="http://localhost:3000">Home</a></li>
      <li><a href="#">My Communities</a></li>
      <li><a href="../../memo">Add Memo</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
</div>
<div id="banner" style="margin-left:200px;"><img src="../../images/dispics/<%= comname %>"></div>
<div  style="float:right; margin-top:40px; margin-right:200px;">
<figure>
  <div>
    <span class="btnprism">Join</span>
    <span class="btnprism" onclick="join(<%= comname %>)"><%= comname %></span>
  </div>
</figure>
</div>
<h1 style="font-family:verdana; font-size: 50px; position:relative; margin-left:20%; color:#333333; opacity:0.7;"><%= comname %></h1>

<div class="gallery" id="gallery"> <!-- TODO: these images will be loaded from the public directory of the community -->
  <div class="item"></div>
  
  <div class="item"></div>
  
  <div class="item"></div>
  
  <div class="item"></div>
  
  <div class="item"></div>
</div>
<div id="memlist">
  asdasdasd
</div>
<script>
  function chop(opac) {
    document.getElementsByClassName('title')[0].style.opacity = opac;
    document.getElementsByClassName('nav')[0].style.opacity= Math.abs(1-opac);

}
  var gallery = document.getElementById('gallery');

  //load images from the particular community
  //the gallery variable contains an array of the last 5 filenames in the community's public images directory
  '<%- gallery %>'.split(',').forEach(function(file){ 
    var item = document.createElement('div');
    item.class = "item";
    item.style.background = `url('../../images/public/${file}')`;
    gallery.appendChild(item);
  });

  for(i=0;i<5;i++){
    file = '<%- gallery %>'.split(',')[i];
    document.getElementsByClassName('item')[i].style.background = `url('../../images/public/${file}') no-repeat right top`;
  }

  function join(com){
    var request = new XMLHttpRequest;
    request.onreadystatechange = function(){
      if(this.readystate == 4 && this.status == 400){
        location.reload();
      }
    }
    request.open('POST',`../../join/${com}`,false);
    request.send();
  }
</script>
</body>
</html>